<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товары сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header :: header" > </div>

<main>
    <div class="container mt-5">
        <h1 th:text="${title}"></h1>
        <h4>
            <p class="text-muted"> Наш молодой стартап решил предложить миру одну интересную идею<br><br>
                Задумывались ли вы об экологической повестке? Или может быть вы просто хотите удовлетворить своё любопытство, наблюдая за тем, как растут непонятные для вас растения?<br>
                С помощью нас вы можете убить сразу несколько зайцев! Ведь вы можете взрастить венерину мухоловку, или может какое другое растение - кто знает. И при этом неплохо сэкономить - ведь вы не покупаете семена напрямую - а лишь приобретаете набор из случайных семян. А дальше всё зависит от вашей удачи <br>
            </p>
        </h4>
    </div>
</main>
r
<div th:insert="blocks/footer :: footer"></div>

</body>
</html>