<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновление товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header :: header" > </div>

<div class="container mt-5 mb-5">
    <h1>Обновление товара</h1>
    <div th:each="el : ${products}">
        <form method="post">
            <input type="text" th:value="${el.name}" name="name" placeholder="Введите название товара" class="form-control"> <br>
            <input type="text" th:value="${el.price}" name="price" placeholder="Введите стоимость указанного товара" class="form-control"><br>
            <textarea name="specification" th:text="${el.specification}" placeholder="Опишите товар" class="form-control"></textarea><br>
<!--            <input type="text" th:value="${el.productType}" name="producttype" placeholder="Введите стоимость указанного товара" class="form-control"><br>-->
            <button type="submit" class="btn btn-succes">Обновить товар</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>