<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товары сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>

<div th:insert="blocks/header :: header" > </div>

<main>
    <div class="container mt-5">
        <h1>Товары сайта</h1>
            <div th:each="el : ${products}" class="alert alert-info mt-2">
            <ul>
                <li th:text="${el.name}"></li>
                <li th:text="'Цена: ' + ${el.price} + ' ₽'"></li>
                <li th:text="${el.specification}"></li>
<!--                <li th:text="${el.productType}"></li>-->
            </ul>
<!--                <img th:src="@{'/images/' + ${el.image}}" ></img><br><br>-->
                <a th:href="'/product/' + ${el.id} + '/edit'" class="btn btn-warning"> Редактировать</a><br><br>
                <form th:action="'/product/' + ${el.id} + '/remove'" method="post" >
                    <button class="btn btn-warning" type="submit"> Удалить</button>
                </form>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>