<div th:fragment="header">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная страница</a></li>
            <li class="nav-item"><a href="/product" class="nav-link">Товары</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link">Профиль</a></li>
        </ul>
    </header>
</div>